<% unless current_advisor %>
	<h3>Ask A Financial Question</h3>
	<%= render 'form' %>
<% end %>

<%= paginate @questions %>

<div id="questions">
  <%= render @questions %>
</div>

<%= paginate @questions %>