<div class="ss-form"><form action="https://docs.google.com/forms/d/157eo2ySLLp6oZZw3oIjGYoXcwNhF4APvmyz_Bl6RB70/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol style="padding-left: 0">
<div class="errorbox-good">
<div dir="ltr" class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">About Me</h2>
<div class="ss-section-description ss-no-ignore-whitespace"></div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1499476652"><div class="ss-q-title">Your zip code?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1499476652" value="" class="ss-q-short" id="entry_1499476652" dir="auto">

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-select"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_86872063"><div class="ss-q-title">Your age?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<select name="entry.86872063" id="entry_86872063"><option value=""></option>
<option value="20-29">20-29</option> <option value="30-39">30-39</option> <option value="40-49">40-49</option> <option value="50-59">50-59</option> <option value="60-69">60-69</option> <option value="70-79">70-79</option> <option value="80+">80+</option></select>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-select"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_833779272"><div class="ss-q-title">Your approximate net assets?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<select name="entry.833779272" id="entry_833779272"><option value=""></option>
<option value="$0 - $250k">$0 - $250k</option> <option value="$250k - $499k">$250k - $499k</option> <option value="$500k - $999k">$500k - $999k</option> <option value="$1mm - $2mm">$1mm - $2mm</option> <option value="$2mm - $5mm">$2mm - $5mm</option> <option value="&gt;$5mm">&gt;$5mm</option></select>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_628750628"><div class="ss-q-title">Do you have children?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.834000099" value="Yes" id="group_834000099_1" class="ss-q-radio" aria-label="Yes"></span>
<span class="ss-choice-label">Yes</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.834000099" value="No" id="group_834000099_2" class="ss-q-radio" aria-label="No"></span>
<span class="ss-choice-label">No</span>
</label></li></ul>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_127684604"><div class="ss-q-title">Do you have stakes in private companies that represent more than 10% of your net worth?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.293379260" value="Yes" id="group_293379260_1" class="ss-q-radio" aria-label="Yes"></span>
<span class="ss-choice-label">Yes</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.293379260" value="No" id="group_293379260_2" class="ss-q-radio" aria-label="No"></span>
<span class="ss-choice-label">No</span>
</label></li></ul>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1071219195"><div class="ss-q-title">Do you primarily work for yourself / own your own business?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.276998346" value="Yes" id="group_276998346_1" class="ss-q-radio" aria-label="Yes"></span>
<span class="ss-choice-label">Yes</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.276998346" value="No" id="group_276998346_2" class="ss-q-radio" aria-label="No"></span>
<span class="ss-choice-label">No</span>
</label></li></ul>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1925566335"><div class="ss-q-title">How would you describe your political leanings?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<table border="0" cellpadding="5" cellspacing="0" id="entry_970334430"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_970334430_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_970334430_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_970334430_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_970334430_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_970334430_5">5</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Very liberal</div>
<div class="aria-only-help">Select a value from a range of 1,Very liberal, to 5,Very conservative,.</div></td>
<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.970334430" value="1" id="group_970334430_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.970334430" value="2" id="group_970334430_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.970334430" value="3" id="group_970334430_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.970334430" value="4" id="group_970334430_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.970334430" value="5" id="group_970334430_5" class="ss-q-radio" aria-label="5"></div></td>
<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">Very conservative</td></tr></tbody></table>
</div></div></div> <div class="errorbox-good">
<div dir="ltr" class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">My Financial Personality</h2>
<div class="ss-section-description ss-no-ignore-whitespace"></div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1376894073"><div class="ss-q-title">How would you describe your own financial expertise?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr">1 = I don't understand finance or investing at all. 5 = I have a deep background in finance and investing.</div></label>

<table border="0" cellpadding="5" cellspacing="0" id="entry_246224108"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_246224108_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_246224108_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_246224108_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_246224108_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_246224108_5">5</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Low</div>
<div class="aria-only-help">Select a value from a range of 1,Low, to 5,High,.</div></td>
<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.246224108" value="1" id="group_246224108_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.246224108" value="2" id="group_246224108_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.246224108" value="3" id="group_246224108_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.246224108" value="4" id="group_246224108_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.246224108" value="5" id="group_246224108_5" class="ss-q-radio" aria-label="5"></div></td>
<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">High</td></tr></tbody></table>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1801275548"><div class="ss-q-title">What is your financial risk tolerance?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr">1 = Low; I want to preserve capital at all costs, even if it means lower returns. 5 = High; I want to outperform the market even if it means a higher chance of losing money.</div></label>

<table border="0" cellpadding="5" cellspacing="0" id="entry_2071371840"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2071371840_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2071371840_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2071371840_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2071371840_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2071371840_5">5</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Low</div>
<div class="aria-only-help">Select a value from a range of 1,Low, to 5,High,.</div></td>
<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2071371840" value="1" id="group_2071371840_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2071371840" value="2" id="group_2071371840_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2071371840" value="3" id="group_2071371840_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2071371840" value="4" id="group_2071371840_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2071371840" value="5" id="group_2071371840_5" class="ss-q-radio" aria-label="5"></div></td>
<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">High</td></tr></tbody></table>
</div></div></div> <div class="errorbox-good">
<div dir="ltr" class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title"></h2>
<div class="ss-section-description ss-no-ignore-whitespace">How strongly do you disagree or agree with the following?</div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1326771082"><div class="ss-q-title">I enjoy having "play money" that I can invest myself, aside from money that is managed by others
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<table border="0" cellpadding="5" cellspacing="0" id="entry_133872484"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_133872484_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_133872484_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_133872484_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_133872484_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_133872484_5">5</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Strongly disagree</div>
<div class="aria-only-help">Select a value from a range of 1,Strongly disagree, to 5,Strongly agree,.</div></td>
<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.133872484" value="1" id="group_133872484_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.133872484" value="2" id="group_133872484_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.133872484" value="3" id="group_133872484_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.133872484" value="4" id="group_133872484_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.133872484" value="5" id="group_133872484_5" class="ss-q-radio" aria-label="5"></div></td>
<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">Strongly agree</td></tr></tbody></table>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1073397650"><div class="ss-q-title">I am a disciplined saver
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<table border="0" cellpadding="5" cellspacing="0" id="entry_2110433300"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2110433300_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2110433300_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2110433300_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2110433300_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2110433300_5">5</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Strongly disagree</div>
<div class="aria-only-help">Select a value from a range of 1,Strongly disagree, to 5,Strongly agree,.</div></td>
<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2110433300" value="1" id="group_2110433300_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2110433300" value="2" id="group_2110433300_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2110433300" value="3" id="group_2110433300_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2110433300" value="4" id="group_2110433300_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2110433300" value="5" id="group_2110433300_5" class="ss-q-radio" aria-label="5"></div></td>
<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">Strongly agree</td></tr></tbody></table>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_573523050"><div class="ss-q-title">My financial decisions are swayed more by factual analysis than by gut instincts
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<table border="0" cellpadding="5" cellspacing="0" id="entry_644769015"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_644769015_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_644769015_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_644769015_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_644769015_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_644769015_5">5</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Strongly disagree</div>
<div class="aria-only-help">Select a value from a range of 1,Strongly disagree, to 5,Strongly agree,.</div></td>
<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.644769015" value="1" id="group_644769015_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.644769015" value="2" id="group_644769015_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.644769015" value="3" id="group_644769015_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.644769015" value="4" id="group_644769015_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.644769015" value="5" id="group_644769015_5" class="ss-q-radio" aria-label="5"></div></td>
<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">Strongly agree</td></tr></tbody></table>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_2107164352"><div class="ss-q-title">I tend to seek out the input of several other people before making a significant financial decision
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<table border="0" cellpadding="5" cellspacing="0" id="entry_1859452704"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1859452704_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1859452704_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1859452704_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1859452704_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1859452704_5">5</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Strongly disagree</div>
<div class="aria-only-help">Select a value from a range of 1,Strongly disagree, to 5,Strongly agree,.</div></td>
<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1859452704" value="1" id="group_1859452704_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1859452704" value="2" id="group_1859452704_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1859452704" value="3" id="group_1859452704_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1859452704" value="4" id="group_1859452704_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1859452704" value="5" id="group_1859452704_5" class="ss-q-radio" aria-label="5"></div></td>
<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">Strongly agree</td></tr></tbody></table>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_2137946506"><div class="ss-q-title">I would rather run my own business than work for somebody else
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<table border="0" cellpadding="5" cellspacing="0" id="entry_1230391367"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1230391367_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1230391367_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1230391367_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1230391367_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1230391367_5">5</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Strongly disagree</div>
<div class="aria-only-help">Select a value from a range of 1,Strongly disagree, to 5,Strongly agree,.</div></td>
<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1230391367" value="1" id="group_1230391367_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1230391367" value="2" id="group_1230391367_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1230391367" value="3" id="group_1230391367_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1230391367" value="4" id="group_1230391367_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1230391367" value="5" id="group_1230391367_5" class="ss-q-radio" aria-label="5"></div></td>
<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">Strongly agree</td></tr></tbody></table>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1020463796"><div class="ss-q-title">I like other people to have the impression that I am financially well-off
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<table border="0" cellpadding="5" cellspacing="0" id="entry_2001432379"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2001432379_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2001432379_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2001432379_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2001432379_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2001432379_5">5</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Strongly disagree</div>
<div class="aria-only-help">Select a value from a range of 1,Strongly disagree, to 5,Strongly agree,.</div></td>
<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2001432379" value="1" id="group_2001432379_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2001432379" value="2" id="group_2001432379_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2001432379" value="3" id="group_2001432379_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2001432379" value="4" id="group_2001432379_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2001432379" value="5" id="group_2001432379_5" class="ss-q-radio" aria-label="5"></div></td>
<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">Strongly agree</td></tr></tbody></table>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1121696887"><div class="ss-q-title">I tend to be impulsive when making purchases
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<table border="0" cellpadding="5" cellspacing="0" id="entry_786040217"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_786040217_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_786040217_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_786040217_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_786040217_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_786040217_5">5</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Strongly disagree</div>
<div class="aria-only-help">Select a value from a range of 1,Strongly disagree, to 5,Strongly agree,.</div></td>
<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.786040217" value="1" id="group_786040217_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.786040217" value="2" id="group_786040217_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.786040217" value="3" id="group_786040217_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.786040217" value="4" id="group_786040217_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.786040217" value="5" id="group_786040217_5" class="ss-q-radio" aria-label="5"></div></td>
<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">Strongly agree</td></tr></tbody></table>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_2001312206"><div class="ss-q-title">I'd rather get a dependable paycheck than to get paid solely by commission, even if the commission could mean that I'd earn more in the long run
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<table border="0" cellpadding="5" cellspacing="0" id="entry_1009454668"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1009454668_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1009454668_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1009454668_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1009454668_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1009454668_5">5</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Strongly disagree</div>
<div class="aria-only-help">Select a value from a range of 1,Strongly disagree, to 5,Strongly agree,.</div></td>
<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1009454668" value="1" id="group_1009454668_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1009454668" value="2" id="group_1009454668_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1009454668" value="3" id="group_1009454668_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1009454668" value="4" id="group_1009454668_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1009454668" value="5" id="group_1009454668_5" class="ss-q-radio" aria-label="5"></div></td>
<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">Strongly agree</td></tr></tbody></table>
</div></div></div> <div class="errorbox-good">
<div dir="ltr" class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Working With My Advisor</h2>
<div class="ss-section-description ss-no-ignore-whitespace"></div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-checkbox"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_360025053"><div class="ss-q-title">What are some areas where you'd like your advisor to be particularly expert?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2008119487" value="Bonds" id="group_2008119487_1" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Bonds</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2008119487" value="Commodities" id="group_2008119487_2" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Commodities</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2008119487" value="Economic research" id="group_2008119487_3" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Economic research</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2008119487" value="Estate planning" id="group_2008119487_4" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Estate planning</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2008119487" value="ETFs (Exchange Traded Funds)" id="group_2008119487_5" class="ss-q-checkbox"></span>
<span class="ss-choice-label">ETFs (Exchange Traded Funds)</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2008119487" value="Hedge funds" id="group_2008119487_6" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Hedge funds</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2008119487" value="Insurance" id="group_2008119487_7" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Insurance</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2008119487" value="Mutual funds" id="group_2008119487_8" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Mutual funds</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2008119487" value="Private equity" id="group_2008119487_9" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Private equity</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2008119487" value="Real estate" id="group_2008119487_10" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Real estate</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2008119487" value="Retirement planning" id="group_2008119487_11" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Retirement planning</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2008119487" value="Stocks" id="group_2008119487_12" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Stocks</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2008119487" value="Socially or ecologically responsible investing" id="group_2008119487_13" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Socially or ecologically responsible investing</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2008119487" value="Venture capital" id="group_2008119487_14" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Venture capital</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.2008119487" value="__other_option__" id="group_2008119487_15" class="ss-q-checkbox ss-q-other-toggle"></span>
Other:</label>
<span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.2008119487.other_option_response" value="" class="ss-q-other" id="entry_2008119487_other_option_response" dir="auto" aria-label="Other"></span>
</li></ul>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_2054685606"><div class="ss-q-title">How important is physical proximity of your advisor to where you live?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.92177765" value="Not important" id="group_92177765_1" class="ss-q-radio" aria-label="Not important"></span>
<span class="ss-choice-label">Not important</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.92177765" value="Somewhat important" id="group_92177765_2" class="ss-q-radio" aria-label="Somewhat important"></span>
<span class="ss-choice-label">Somewhat important</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.92177765" value="Very important" id="group_92177765_3" class="ss-q-radio" aria-label="Very important"></span>
<span class="ss-choice-label">Very important</span>
</label></li></ul>
</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_994243093"><div class="ss-q-title">Which describes your communication preferences with your advisor?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr">1 = I don't want to hear from my advisor much; I just want them to do a great job. 5 = I want to be involved day-to-day in investment decisions, with frequent communication</div></label>

<table border="0" cellpadding="5" cellspacing="0" id="entry_324629524"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_324629524_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_324629524_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_324629524_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_324629524_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_324629524_5">5</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Low touch</div>
<div class="aria-only-help">Select a value from a range of 1,Low touch, to 5,High touch,.</div></td>
<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.324629524" value="1" id="group_324629524_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.324629524" value="2" id="group_324629524_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.324629524" value="3" id="group_324629524_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.324629524" value="4" id="group_324629524_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.324629524" value="5" id="group_324629524_5" class="ss-q-radio" aria-label="5"></div></td>
<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">High touch</td></tr></tbody></table>
</div></div></div>
<input type="hidden" name="draftResponse" value="[]
">
<input type="hidden" name="pageHistory" value="0">


<div class="ss-item ss-navigate"><div class="ss-form-entry" id="navigation-buttons" dir="ltr" style="display: inline-block">
<input type="submit" name="submit" value="Submit" id="ss-submit">
</div>
</div></ol></form></div>