<body>
	<h3>Overall Ratings</h3>

	<table class="rating">
		<tr>
			<td>
				<h4>Trust</h4>
			</td>
			<td class="rating">
				<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
				<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
				<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Okay">3 stars</label>
				<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Pretty bad">2 stars</label>
				<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Very bad">1 star</label>
			</td>
		</tr>
		<tr>
			<td>
				<h4>Communication</h4>
			</td>
			<td class="rating1">
				<input type="radio" id="star51" name="rating1" value="5" /><label for="star51" title="Rocks!">5 stars</label>
				<input type="radio" id="star41" name="rating1" value="4" /><label for="star41" title="Pretty good">4 stars</label>
				<input type="radio" id="star31" name="rating1" value="3" /><label for="star31" title="Okay">3 stars</label>
				<input type="radio" id="star21" name="rating1" value="2" /><label for="star21" title="Pretty bad">2 stars</label>
				<input type="radio" id="star11" name="rating1" value="1" /><label for="star11" title="Very bad">1 star</label>
			</td>
		</tr>
		<tr>
			<td>
				<h4>Expertise</h4>
			</td>
			<td class="rating2">
				<input type="radio" id="star52" name="rating2" value="5" /><label for="star52" title="Rocks!">5 stars</label>
				<input type="radio" id="star42" name="rating2" value="4" /><label for="star42" title="Pretty good">4 stars</label>
				<input type="radio" id="star32" name="rating2" value="3" /><label for="star32" title="Okay">3 stars</label>
				<input type="radio" id="star22" name="rating2" value="2" /><label for="star22" title="Pretty bad">2 stars</label>
				<input type="radio" id="star12" name="rating2" value="1" /><label for="star12" title="Very bad">1 star</label>
			</td>
		</tr>
	</table>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="ss-form"><form action="https://docs.google.com/forms/d/14IQXlUTDW18weOdfCAZlp0G_k3OSnyeLJY1C66c3A2g/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol style="padding-left: 0">
	<div class="ss-form-question errorbox-good">
	<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_413206216"><div class="ss-q-title">What's your advisor's name?
	</div>
	<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
	<input type="text" name="entry.413206216" value="" class="ss-q-short" id="entry_413206216" dir="auto">

	</div></div></div> <div class="errorbox-good">
	<div dir="ltr" class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Overall Ratings</h2>
	<div class="ss-section-description ss-no-ignore-whitespace">These ratings are ANONYMOUS and will not be linked to you!</div>

	</div></div></div> <div class="ss-form-question errorbox-good">
	<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_712886405"><div class="ss-q-title">Trust
	</div>
	<div class="ss-q-help ss-secondary-text" dir="ltr">How well do you know and trust this person? 1 = Totally distrust; 5 = Trust them with my life</div></label>

	<table border="0" cellpadding="5" cellspacing="0" id="entry_260933250"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
	<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_260933250_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_260933250_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_260933250_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_260933250_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_260933250_5">5</label></td>
	<td class="ss-scalenumbers"></td></tr>
	<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo"></div>
	<div class="aria-only-help">Select a value from a range of 1 to 5.</div></td>
	<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.260933250" value="1" id="group_260933250_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.260933250" value="2" id="group_260933250_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.260933250" value="3" id="group_260933250_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.260933250" value="4" id="group_260933250_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.260933250" value="5" id="group_260933250_5" class="ss-q-radio" aria-label="5"></div></td>
	<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true"></td></tr></tbody></table>
	</div></div></div> <div class="ss-form-question errorbox-good">
	<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_312803632"><div class="ss-q-title">Communication
	</div>
	<div class="ss-q-help ss-secondary-text" dir="ltr">How satisfied are you with the quantity and quality of communication from your advisor?</div></label>

	<table border="0" cellpadding="5" cellspacing="0" id="entry_593165138"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
	<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_593165138_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_593165138_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_593165138_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_593165138_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_593165138_5">5</label></td>
	<td class="ss-scalenumbers"></td></tr>
	<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo"></div>
	<div class="aria-only-help">Select a value from a range of 1 to 5.</div></td>
	<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.593165138" value="1" id="group_593165138_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.593165138" value="2" id="group_593165138_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.593165138" value="3" id="group_593165138_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.593165138" value="4" id="group_593165138_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.593165138" value="5" id="group_593165138_5" class="ss-q-radio" aria-label="5"></div></td>
	<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true"></td></tr></tbody></table>
	</div></div></div> <div class="ss-form-question errorbox-good">
	<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1710523711"><div class="ss-q-title">Expertise
	</div>
	<div class="ss-q-help ss-secondary-text" dir="ltr">How satisfied are you with the level of financial expertise demonstrated by your advisor? 1 = Pretty clueless; 5 = They are a wizard</div></label>

	<table border="0" cellpadding="5" cellspacing="0" id="entry_1005318541"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
	<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1005318541_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1005318541_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1005318541_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1005318541_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1005318541_5">5</label></td>
	<td class="ss-scalenumbers"></td></tr>
	<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo"></div>
	<div class="aria-only-help">Select a value from a range of 1 to 5.</div></td>
	<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1005318541" value="1" id="group_1005318541_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1005318541" value="2" id="group_1005318541_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1005318541" value="3" id="group_1005318541_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1005318541" value="4" id="group_1005318541_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1005318541" value="5" id="group_1005318541_5" class="ss-q-radio" aria-label="5"></div></td>
	<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true"></td></tr></tbody></table>
	</div></div></div> <div class="errorbox-good">
	<div dir="ltr" class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Specific Skills</h2>
	<div class="ss-section-description ss-no-ignore-whitespace">What are some specific areas where your advisor has helped you?
	Don't worry about missing anything; just check the areas that come to mind.</div>

	</div></div></div> <div class="ss-form-question errorbox-good">
	<div dir="ltr" class="ss-item  ss-checkbox"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1463383150"><div class="ss-q-title">
	</div>
	<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

	<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.967799574" value="Bonds" id="group_967799574_1" class="ss-q-checkbox"></span>
	<span class="ss-choice-label">Bonds</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.967799574" value="Commodities" id="group_967799574_2" class="ss-q-checkbox"></span>
	<span class="ss-choice-label">Commodities</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.967799574" value="Economic research" id="group_967799574_3" class="ss-q-checkbox"></span>
	<span class="ss-choice-label">Economic research</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.967799574" value="Estate planning" id="group_967799574_4" class="ss-q-checkbox"></span>
	<span class="ss-choice-label">Estate planning</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.967799574" value="ETFs (Exchange Traded Funds)" id="group_967799574_5" class="ss-q-checkbox"></span>
	<span class="ss-choice-label">ETFs (Exchange Traded Funds)</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.967799574" value="Hedge funds" id="group_967799574_6" class="ss-q-checkbox"></span>
	<span class="ss-choice-label">Hedge funds</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.967799574" value="Insurance" id="group_967799574_7" class="ss-q-checkbox"></span>
	<span class="ss-choice-label">Insurance</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.967799574" value="Mutual funds" id="group_967799574_8" class="ss-q-checkbox"></span>
	<span class="ss-choice-label">Mutual funds</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.967799574" value="Private equity" id="group_967799574_9" class="ss-q-checkbox"></span>
	<span class="ss-choice-label">Private equity</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.967799574" value="Real estate" id="group_967799574_10" class="ss-q-checkbox"></span>
	<span class="ss-choice-label">Real estate</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.967799574" value="Retirement planning" id="group_967799574_11" class="ss-q-checkbox"></span>
	<span class="ss-choice-label">Retirement planning</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.967799574" value="Stocks" id="group_967799574_12" class="ss-q-checkbox"></span>
	<span class="ss-choice-label">Stocks</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.967799574" value="Socially or ecologically responsible investing" id="group_967799574_13" class="ss-q-checkbox"></span>
	<span class="ss-choice-label">Socially or ecologically responsible investing</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.967799574" value="Venture capital" id="group_967799574_14" class="ss-q-checkbox"></span>
	<span class="ss-choice-label">Venture capital</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.967799574" value="__other_option__" id="group_967799574_15" class="ss-q-checkbox ss-q-other-toggle"></span>
	Other:</label>
	<span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.967799574.other_option_response" value="" class="ss-q-other" id="entry_967799574_other_option_response" dir="auto" aria-label="Other"></span>
	</li></ul>
	</div></div></div> <div class="errorbox-good">
	<div dir="ltr" class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">About Me</h2>
	<div class="ss-section-description ss-no-ignore-whitespace">This is all STRICTLY CONFIDENTIAL. We won't publish it anywhere, and it will only be seen by our computer algorithms. We use it to help people who are similar to you find your advisor.</div>

	</div></div></div> <div class="ss-form-question errorbox-good">
	<div dir="ltr" class="ss-item  ss-select"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1538079309"><div class="ss-q-title">Your age?
	</div>
	<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
	<select name="entry.1538079309" id="entry_1538079309"><option value=""></option>
	<option value="20-29">20-29</option> <option value="30-39">30-39</option> <option value="40-49">40-49</option> <option value="50-59">50-59</option> <option value="60-69">60-69</option> <option value="70-79">70-79</option> <option value="80+">80+</option></select>
	</div></div></div> <div class="ss-form-question errorbox-good">
	<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1592459241"><div class="ss-q-title">Your gender?
	</div>
	<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

	<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1036265106" value="Male" id="group_1036265106_1" class="ss-q-radio" aria-label="Male"></span>
	<span class="ss-choice-label">Male</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1036265106" value="Female" id="group_1036265106_2" class="ss-q-radio" aria-label="Female"></span>
	<span class="ss-choice-label">Female</span>
	</label></li></ul>
	</div></div></div> <div class="ss-form-question errorbox-good">
	<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_899195332"><div class="ss-q-title">Do you have children?
	</div>
	<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

	<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1887559390" value="Yes" id="group_1887559390_1" class="ss-q-radio" aria-label="Yes"></span>
	<span class="ss-choice-label">Yes</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1887559390" value="No" id="group_1887559390_2" class="ss-q-radio" aria-label="No"></span>
	<span class="ss-choice-label">No</span>
	</label></li></ul>
	</div></div></div> <div class="ss-form-question errorbox-good">
	<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1240481735"><div class="ss-q-title">Do you primarily work for yourself / own your own business?
	</div>
	<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

	<ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1632501205" value="Yes" id="group_1632501205_1" class="ss-q-radio" aria-label="Yes"></span>
	<span class="ss-choice-label">Yes</span>
	</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1632501205" value="No" id="group_1632501205_2" class="ss-q-radio" aria-label="No"></span>
	<span class="ss-choice-label">No</span>
	</label></li></ul>
	</div></div></div> <div class="ss-form-question errorbox-good">
	<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1994791403"><div class="ss-q-title">How would you describe your political leanings?
	</div>
	<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

	<table border="0" cellpadding="5" cellspacing="0" id="entry_764534048"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
	<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_764534048_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_764534048_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_764534048_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_764534048_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_764534048_5">5</label></td>
	<td class="ss-scalenumbers"></td></tr>
	<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Very liberal</div>
	<div class="aria-only-help">Select a value from a range of 1,Very liberal, to 5,Very conservative,.</div></td>
	<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.764534048" value="1" id="group_764534048_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.764534048" value="2" id="group_764534048_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.764534048" value="3" id="group_764534048_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.764534048" value="4" id="group_764534048_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.764534048" value="5" id="group_764534048_5" class="ss-q-radio" aria-label="5"></div></td>
	<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">Very conservative</td></tr></tbody></table>
	</div></div></div> <div class="ss-form-question errorbox-good">
	<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_824391131"><div class="ss-q-title">How would you describe your communication preferences with your advisor?
	</div>
	<div class="ss-q-help ss-secondary-text" dir="ltr">1 = I don't want to hear from my advisor much; I just want them to do a great job. 5 = I want to be involved day-to-day in investment decisions, with frequent communication</div></label>

	<table border="0" cellpadding="5" cellspacing="0" id="entry_2004626500"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
	<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2004626500_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2004626500_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2004626500_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2004626500_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_2004626500_5">5</label></td>
	<td class="ss-scalenumbers"></td></tr>
	<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Low touch</div>
	<div class="aria-only-help">Select a value from a range of 1,Low touch, to 5,High touch,.</div></td>
	<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2004626500" value="1" id="group_2004626500_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2004626500" value="2" id="group_2004626500_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2004626500" value="3" id="group_2004626500_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2004626500" value="4" id="group_2004626500_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.2004626500" value="5" id="group_2004626500_5" class="ss-q-radio" aria-label="5"></div></td>
	<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">High touch</td></tr></tbody></table>
	</div></div></div> <div class="ss-form-question errorbox-good">
	<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_383358688"><div class="ss-q-title">How would you describe your own financial expertise?
	</div>
	<div class="ss-q-help ss-secondary-text" dir="ltr">1 = I don't understand investing or finance, and frankly have better things to think about. 5 = Expert; I have a deep background in finance and investing</div></label>

	<table border="0" cellpadding="5" cellspacing="0" id="entry_173282642"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
	<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_173282642_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_173282642_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_173282642_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_173282642_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_173282642_5">5</label></td>
	<td class="ss-scalenumbers"></td></tr>
	<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Low</div>
	<div class="aria-only-help">Select a value from a range of 1,Low, to 5,High,.</div></td>
	<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.173282642" value="1" id="group_173282642_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.173282642" value="2" id="group_173282642_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.173282642" value="3" id="group_173282642_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.173282642" value="4" id="group_173282642_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.173282642" value="5" id="group_173282642_5" class="ss-q-radio" aria-label="5"></div></td>
	<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">High</td></tr></tbody></table>
	</div></div></div> <div class="ss-form-question errorbox-good">
	<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_525970998"><div class="ss-q-title">How would you describe your own financial risk tolerance?
	</div>
	<div class="ss-q-help ss-secondary-text" dir="ltr">1 = Low risk; I want to protect capital even if it means lower returns. 5 = High risk; I want to outperform the market even if it means taking on large risks</div></label>

	<table border="0" cellpadding="5" cellspacing="0" id="entry_429956804"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
	<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_429956804_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_429956804_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_429956804_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_429956804_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_429956804_5">5</label></td>
	<td class="ss-scalenumbers"></td></tr>
	<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Low risk</div>
	<div class="aria-only-help">Select a value from a range of 1,Low risk, to 5,High risk,.</div></td>
	<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.429956804" value="1" id="group_429956804_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.429956804" value="2" id="group_429956804_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.429956804" value="3" id="group_429956804_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.429956804" value="4" id="group_429956804_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.429956804" value="5" id="group_429956804_5" class="ss-q-radio" aria-label="5"></div></td>
	<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">High risk</td></tr></tbody></table>
	</div></div></div> <div class="ss-form-question errorbox-good">
	<div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1952691897"><div class="ss-q-title">How would you describe your own financial discipline?
	</div>
	<div class="ss-q-help ss-secondary-text" dir="ltr">1 = Left to my own devices, I tend to make impulse purchases and not save a lot of my income; 5 = I am the Zen Master. I buy only what I need to survive, and I save most of my income</div></label>

	<table border="0" cellpadding="5" cellspacing="0" id="entry_1606179881"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
	<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1606179881_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1606179881_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1606179881_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1606179881_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1606179881_5">5</label></td>
	<td class="ss-scalenumbers"></td></tr>
	<tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo">Low discipline</div>
	<div class="aria-only-help">Select a value from a range of 1,Low discipline, to 5,High discipline,.</div></td>
	<td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1606179881" value="1" id="group_1606179881_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1606179881" value="2" id="group_1606179881_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1606179881" value="3" id="group_1606179881_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1606179881" value="4" id="group_1606179881_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1606179881" value="5" id="group_1606179881_5" class="ss-q-radio" aria-label="5"></div></td>
	<td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true">High discipline</td></tr></tbody></table>
	</div></div></div>
	<input type="hidden" name="draftResponse" value="[]
	">
	<input type="hidden" name="pageHistory" value="0">


	<div class="ss-item ss-navigate"><div class="ss-form-entry" id="navigation-buttons" dir="ltr" style="display: inline-block">
	<input type="submit" name="submit" value="Submit" id="ss-submit">
	</div>
	</div></ol></form></div>
</body>