<body>
<h3>
	First, find your advisor by name:
</h3>
		<%= form_tag advisors_path, :class => "form-inline", method: :get do %>
	  <%= text_field_tag :search %>
	  <%= submit_tag "Search", :class => "btn", name:nil %>
<% end %>

<!-- 	<h3>Overall Ratings</h3>

	<table class="rating">
		<tr>
			<td>
				<h4>Trust</h4>
			</td>
			<td class="rating">
				<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
				<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
				<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Okay">3 stars</label>
				<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Pretty bad">2 stars</label>
				<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Very bad">1 star</label>
			</td>
		</tr>
		<tr>
			<td>
				<h4>Communication</h4>
			</td>
			<td class="rating1">
				<input type="radio" id="star51" name="rating1" value="5" /><label for="star51" title="Rocks!">5 stars</label>
				<input type="radio" id="star41" name="rating1" value="4" /><label for="star41" title="Pretty good">4 stars</label>
				<input type="radio" id="star31" name="rating1" value="3" /><label for="star31" title="Okay">3 stars</label>
				<input type="radio" id="star21" name="rating1" value="2" /><label for="star21" title="Pretty bad">2 stars</label>
				<input type="radio" id="star11" name="rating1" value="1" /><label for="star11" title="Very bad">1 star</label>
			</td>
		</tr>
		<tr>
			<td>
				<h4>Expertise</h4>
			</td>
			<td class="rating2">
				<input type="radio" id="star52" name="rating2" value="5" /><label for="star52" title="Rocks!">5 stars</label>
				<input type="radio" id="star42" name="rating2" value="4" /><label for="star42" title="Pretty good">4 stars</label>
				<input type="radio" id="star32" name="rating2" value="3" /><label for="star32" title="Okay">3 stars</label>
				<input type="radio" id="star22" name="rating2" value="2" /><label for="star22" title="Pretty bad">2 stars</label>
				<input type="radio" id="star12" name="rating2" value="1" /><label for="star12" title="Very bad">1 star</label>
			</td>
		</tr>
	</table> -->