<%= render "layouts/background" %>

<body>
		<div class="box">
			<img src="https://s3.amazonaws.com/maven_teaser/LOGO-Maven.jpg">
			<p>
				<h4>Beta login:</h4>
			</p>
			<p>
				<%= render 'form' %>
			</p>
		</div>
</body>