<%= render "layouts/background" %>

<body>
		<div class="box">
			<img src="https://s3.amazonaws.com/maven_teaser/LOGO-Maven.jpg">
			<p></p>
			<p>
				<h4>Welcome to MavenMarket. We are currently invite only. If you'd like to know when we release invites in the future, let us know.</h4>
			</p>
			<p>
				<%= render 'email_capture' %>
			</p>
		</div>
</body>